<a href="https://colab.research.google.com/github/KoreDare/Python_Bootcamp/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit = "Banana"
Fruit = 'Apple'
fruiT = 'Pineapple'
frUIt = 'Mango'

print(Fruit)
print(fruiT)
print(fruit)
print(frUIt)

Apple
Pineapple
Banana
Mango

In [ ]:
print('Welcome to the session.')

fruit = 'Apple'

if fruit == 'Apple':
  print('Yes it is apple')


print("This is not an indentation.")

Welcome to the session.
Yes it is apple
This is not an indentation.

In [ ]:
# This is an If Condition

fruit = 'Banana'

if Fruit == 'Banana':
  print('Yes, it is banana')

In [ ]:
# This is a single line comment

'''
This is
a multi-line
comment
'''

"""
This is
a multi-line
comment
"""

In [ ]:
num = 100
name = 'Korede'
marks = 99.90
isStudent = True

print(type(num))
print(type(name))
print(type(marks))
print(type(isStudent))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# This is a List
fruits = ['Apple', 'Banana', 'Pineapple', 'Grapes']
print(fruits)
print(type(fruits))

fruits.append('Mango')
fruits.append('Guava')
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Grapes']
<class 'list'>
['Apple', 'Banana', 'Pineapple', 'Grapes', 'Mango', 'Guava']

In [ ]:
# This is a Tuple
fruits = ('Apple', 'Banana', 'Pineapple')
print(fruits)
print(type(fruits))

"""
Note that Tuple cannot be updated like List,
unless you first convert it to List, update,
then convert it back to Tuple. That is why we have attribute error
"""
fruits.append('Mango')
print(fruits)

('Apple', 'Banana', 'Pineapple')
<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a = 40
b = 15

# Arithmetic Operation
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

print('The addition of', a, 'and', b, 'is', a+b)

55
25
600
2.6666666666666665
2
1073741824000000000000000
The addition of 40 and 15 is 55

In [ ]:
a = 40
b = 15

print('The addition of', a, 'and', b, 'is', a+b)
print('The subtraction of', b, 'from', a, 'is', a-b)
print('The multiplication of', a, 'and', b, 'is', a*b)
print('The division of', a, 'and', b, 'is', a/b)

The addition of 40 and 15 is 55
The subtraction of 15 from 40 is 25
The multiplication of 40 and 15 is 600
The division of 40 and 15 is 2.6666666666666665

In [ ]:
# Input Function
name =input('Enter your name: ')

# Output Function
print('My name is', name)

Enter your name: Korede
My name is Korede

Note: Python takes note of the last command. So unless you insert the print command after each line, it will not retain the information of fruit as Banana, because the information of fruit = 'Orange' has overridden the previous information.

In [ ]:
fruit = 'Banana'
fruit = 'Orange'
Fruit = 'Mango'
fRUit = 'Guava'
fruiT = 'Lemon'

print(fruit)
print(fruit)
print(Fruit)
print(fRUit)
print(fruiT)

Orange
Orange
Mango
Guava
Lemon

In [ ]:
a = 'This is our string.'
print(a)

print(a.upper())
print(a.lower())
print(a.title())

This is our string.
THIS IS OUR STRING.
this is our string.
This Is Our String.

In [ ]:
student = '         Korede Oluwadare    '

print(student)
print(student.strip())
print(student.lstrip())
print(student.rstrip())

         Korede Oluwadare
Korede Oluwadare
Korede Oluwadare
         Korede Oluwadare

In [ ]:
data = """Tesla has labor disputes in the United States, Germany and Sweden, including an ongoing strike
in Sweden. Elon Musk, the CEO of Tesla, has expressed his opposition to unions on Twitter (now called X). The
NLRB held that one tweet was an threat, but was overturned by a federal appeals court. All unionization efforts at the Tesla
Fremont Factory and Gigafactory New York in the United States have been unsuccessful. In Germany, Gigafactory Berlin-Brandenburg
and Tesla Automation have elected works councils, but they have not signed collective bargaining agreements with the
German trade union IG Metall (members pictured).
"""

# index always starts from 0
print(data.find('Tesla'))
print(data.find('labor'))
print(data.replace('Tesla', 'Volkswagen'))

0
10
Volkswagen has labor disputes in the United States, Germany and Sweden, including an ongoing strike
in Sweden. Elon Musk, the CEO of Volkswagen, has expressed his opposition to unions on Twitter (now called X). The
NLRB held that one tweet was an threat, but was overturned by a federal appeals court. All unionization efforts at the Volkswagen
Fremont Factory and Gigafactory New York in the United States have been unsuccessful. In Germany, Gigafactory Berlin-Brandenburg
and Volkswagen Automation have elected works councils, but they have not signed collective bargaining agreements with the
German trade union IG Metall (members pictured).

In [ ]:
names = 'Korede, Peter, Sharon'

print(names.split(','))
print('-'.join(names))

['Korede', ' Peter', ' Sharon']
K-o-r-e-d-e-,- -P-e-t-e-r-,- -S-h-a-r-o-n

In [ ]:
names = 'Korede Peter Sharon'

print(names.split(' '))
print('-'.join(names))

['Korede', 'Peter', 'Sharon']
K-o-r-e-d-e- -P-e-t-e-r- -S-h-a-r-o-n

In [ ]:
names = ['Korede','Peter','Sharon']

print('-'.join(names))

Korede-Peter-Sharon

In [ ]:
data = 'This is sample data.'

print(data.startswith('T'))
print(data.startswith('I'))
print(data.endswith('this'))
print(data.endswith('.'))
print(data.isdigit())

True
False
False
True
False

In [ ]:
# Note that lists come in box bracket [], while tuple comes in parenthesis ().
fruits = ['Apple', 'Banana', 'Cherry']
print(fruits)

fruits.append('Mango')    # This will add element in the list ('last')
print(fruits)

fruits.insert(1, 'Orange') # This will add element according to the index number
print(fruits)

fruits.remove('Banana')   # This will remove element in the list
print(fruits)

fruits.pop()            # This will remove the last element in the list
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

['Apple', 'Banana', 'Cherry']
['Apple', 'Banana', 'Cherry', 'Mango']
['Apple', 'Orange', 'Banana', 'Cherry', 'Mango']
['Apple', 'Orange', 'Cherry', 'Mango']
['Apple', 'Orange', 'Cherry']
['Apple', 'Cherry', 'Orange']
['Orange', 'Cherry', 'Apple']

In [ ]:
# Tuple Methods
# Note that tuple is not changeable - you cannot use append, insert or the rest like you use in lists
# Therefore to use those variables, you must first convert tuple to list, then convert back to tuple
# The only variables that you can use are 'count' and 'index'

names = ('Korede', 'Lydia', 'Walter', 'Tope', 'Korede')

print(names)
print(names.count('Lydia'))
print(names.index('Korede'))
print(names.index('Walter'))

# Convert Tuple into a List
list_names = list(names)
list_names.append('Tabitha')

print(list_names)

# Convert a List into Tuple

tuple_names = tuple(list_names)
print(tuple_names)

# Accessing Tuple or List values
print(names[1])
print(names[3])

('Korede', 'Lydia', 'Walter', 'Tope', 'Korede')
1
0
2
['Korede', 'Lydia', 'Walter', 'Tope', 'Korede', 'Tabitha']
('Korede', 'Lydia', 'Walter', 'Tope', 'Korede', 'Tabitha')
Lydia
Tope

In [ ]:
names_1 = ['Korede', 'Lydia', 'Walter', 'Tope', 'Melody']

print(names_1[0:3])
print(names_1[0:2])
print(names_1[4])
print(names_1[-1])
print(names_1[1:4])

['Korede', 'Lydia', 'Walter']
['Korede', 'Lydia']
Melody
Melody
['Lydia', 'Walter', 'Tope']

In [ ]:
# Note that dictionary comes in braces i.e. {curly bracket}
dict_1 = {
    'Name' : 'Korede',
    'Age' : 44,
    'isStudent' : True
}

print(dict_1)
print(dict_1.keys())
print(dict_1.values())
print(dict_1['Name'])
print(dict_1['Age'])
print('My name is',dict_1['Name'], 'I am',dict_1['Age'], 'years old.')
print('My name is',dict_1['Name'], 'Oluwadare.', 'I am',dict_1['Age'], 'years old.')

print(dict_1.get('Name'))
print(dict_1.items())

{'Name': 'Korede', 'Age': 44, 'isStudent': True}
dict_keys(['Name', 'Age', 'isStudent'])
dict_values(['Korede', 44, True])
Korede
44
My name is Korede I am 44 years old.
My name is Korede Oluwadare. I am 44 years old.
Korede
dict_items([('Name', 'Korede'), ('Age', 44), ('isStudent', True)])

In [ ]:
# Update existing value in a dictionary

dict_1['Age'] = '32'
dict_1['isStudent'] = False

print(dict_1)

{'Name': 'Korede', 'Age': '32', 'isStudent': False}

In [ ]:
# Adding new key-value pair

dict_1['grade'] = 'A+'

print(dict_1)

{'Name': 'Korede', 'Age': '32', 'isStudent': False, 'grade': 'A+'}

In [ ]:
# Remove age from dictionary

dict_1.pop('Age')

print(dict_1)

{'Name': 'Korede', 'isStudent': False, 'grade': 'A+'}

In [ ]:
# Clear the dictionary

dict_1.clear()

print(dict_1)

{}

In [ ]:
# Conditional Statement (If statement executes a block of code once the condition is satisfied)

age = 20
if age >= 18:
  print('You can vote.')

signal = 'Red'
if signal == 'Red':
  print('Stop')


signal = 'Green'
if signal == 'Red':
  print('Stop')
else:
  print('You can go')


signal = 'Amber'
if signal == 'Red':
  print('Stop')
elif signal == 'Green':
  print('You can go')
else:
  print('Slow down your vehicle')

You can vote.
Stop
You can go
Slow down your vehicle

In [ ]:
# Loops
"""
To print numbers in a range without manually typing
the individual digits or writing the program line by line.
"""

for r in range(11):
  print(r)

"""
The difference between the code above and the code
below is that the code above will begin from 0 to 10,
while the code below will go from 1 to 10.
"""
for num in range(1, 11):
  print(num)

# Two Types of Loop - For Loop (which is the example above) and While Loop

0
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [ ]:
# While Loop

a = 1

while a <= 10:
  print(a)
  a += 2

1
3
5
7
9

In [ ]:
# Iterating over a list, tuple or string

fruit_list = ['Apple', 'Banana', 'Cherry', 'Dates']
fruit_tuple = ('Mango', 'Avocado', 'Grapes', 'Berry')
fruit_str = 'Apple'

for fruit in fruit_list:
  print(fruit)

for fruit in fruit_tuple:
  print(fruit)

for fruit in fruit_str:
  print(fruit)

Apple
Banana
Cherry
Dates
Mango
Avocado
Grapes
Berry
A
p
p
l
e

In [ ]:
# Print numbers from 1 to 15 using For Loop

for num in range(1, 16):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# Print even numbers 1 to 20 using For Loop

for num in range(1, 21):
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print odd numbers from 1 to 20 using For Loop

for num in range(1, 20):
  if num % 2 == 1:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Print numbers from 1 to 15 using While Loop

a = 1
while a <= 15:
  print(a)
  a += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# Print even numbers from 1 to 20 using While Loop

a = 2
while a <= 20:
  print(a)
  a += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print odd numbers from 1 to 20 using While Loop

a = 1
while a <= 20:
  print(a)
  a += 2

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Functions
"""
Instead of writing the same formular every time,
we use a function to define it once, then call it whenever needed.
"""

def greet():
  print('Hello, welcome to Python')

greet()
greet()

Hello, welcome to Python
Hello, welcome to Python

In [ ]:
# Function with Parameter
def greet_with_name(name):
  print('Hello', name, 'welcome to Python')

greet_with_name('Korede')
greet_with_name('Tanya')

def greet_with_name(name, lastname):
  print('Hello', name, lastname, 'welcome to Python')

greet_with_name('Korede','Oluwadare')
greet_with_name('Tanya', 'Roberts')

Hello Korede welcome to Python
Hello Tanya welcome to Python
Hello Korede Oluwadare welcome to Python
Hello Tanya Roberts welcome to Python

In [ ]:
# Function with Default Parameter
def greet_with_name(name):
  print('Hello', name, 'welcome to Python')

greet_with_name('Korede')
greet_with_name('Tanya')

def greet_with_name(name, lastname = 'No Lastname'):
  print('Hello', name, lastname, 'welcome to Python')

greet_with_name('Korede','Oluwadare')
greet_with_name('Tanya')

Hello Korede welcome to Python
Hello Tanya welcome to Python
Hello Korede Oluwadare welcome to Python
Hello Tanya No Lastname welcome to Python

In [ ]:
def calculate(a, b):
  return a + b

calculate(3, 5)
calculate(30, 50)

80

In [ ]:
# Calculate Square

def square(num):
  return num * num

result = square(5)
print (result)

25

In [ ]:
# Calculate Cube

def cube(num):
  return num * num * num

result = cube(10)
print(result)

1000

In [ ]:
def format_name():
    # Taking user's full name as input
    full_name = input("Enter your full name: ")

    # Remove extra spaces, capitalize first letter of each word and replace space with hyphen
    formatted_name = '-'.join(word.capitalize() for word in full_name.split())

    return formatted_name

# Call the function and display the result
formatted_name = format_name()
print(f"Formatted name: {formatted_name}")

Enter your full name: Korede Oluwadare
Formatted name: Korede-Oluwadare

In [ ]:
def format_name(full_name):
    names = full_name.strip().split()
    formatted_name = '-'.join(word.title() for word in names)
    return formatted_name

full_name = input('Enter your full name: ')
print('Formatted Name:', format_name(full_name))

Enter your full name: korede oluwadare
Formatted Name: Korede-Oluwadare

In [ ]:
def format_name(full_name):
    # Remove extra spaces, capitalize first letter of each word and replace space with hyphen
    formatted_name = '-'.join(word.title() for word in full_name.strip().split())
    return formatted_name

full_name = input('Enter your full name: ')
print('Formatted Name:', format_name(full_name))

Enter your full name:      korede   oluwadare
Formatted Name: Korede-Oluwadare

In [17]:
import pandas as pd

In [24]:
df = pd.read_csv("GlobalWeatherRepository.csv")
df

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1.0,1.0,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55.0
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1.0,1.0,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55.0
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1.0,1.0,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55.0
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1.0,1.0,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55.0
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5.0,10.0,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8148,Australia,Canberra,-35.28,149.22,Australia/Sydney,1719408600,2024-06-26 23:30,4.1,39.4,Clear,...,4.1,12.1,1.0,1.0,07:13 AM,05:00 PM,09:30 PM,10:31 AM,Waning Gibbous,81.0
8149,Austria,Vienna,48.20,16.37,Europe/Vienna,1719408600,2024-06-26 15:30,28.3,82.9,Partly cloudy,...,3.5,3.9,1.0,1.0,04:56 AM,08:59 PM,No moonrise,09:45 AM,Waning Gibbous,81.0
8150,Azerbaijan,Baku,40.40,49.88,Asia/Baku,1719408600,2024-06-26 17:30,26.3,79.3,Partly cloudy,...,2.5,2.9,1.0,1.0,05:12 AM,08:15 PM,11:41 PM,09:41 AM,Waning Gibbous,81.0
8151,Bahamas,Nassau,25.08,-77.35,America/Nassau,1719408600,2024-06-26 09:30,29.2,84.6,Partly cloudy,...,1.1,1.9,1.0,1.0,06:21 AM,08:03 PM,No moonrise,10:57 AM,Waning Gibbous,81.0
8152,Bahrain,Manama,26.24,50.58,Asia/Bahrain,1719408600,2024-06-26 16:30,40.4,104.7,Sunny,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To show maximum temperature in celsius

In [25]:
df['temperature_celsius'].max()

49.2

Minimum temperature in celsius

In [26]:
df['temperature_celsius'].min()

-3.7

Total sum of temperature in celsius

In [27]:
df['temperature_celsius'].sum()

210850.1

Average temperature in celsius

In [28]:
df['temperature_celsius'].mean()

25.861658285293757

In [31]:
df['temperature_celsius'].count()

8153

In [36]:
df['last_updated'][df['condition_text']=='Sunny'][df['last_updated']=='2024-05-16 11:45']

12     2024-05-16 11:45
15     2024-05-16 11:45
28     2024-05-16 11:45
47     2024-05-16 11:45
51     2024-05-16 11:45
55     2024-05-16 11:45
59     2024-05-16 11:45
93     2024-05-16 11:45
99     2024-05-16 11:45
120    2024-05-16 11:45
141    2024-05-16 11:45
142    2024-05-16 11:45
143    2024-05-16 11:45
151    2024-05-16 11:45
170    2024-05-16 11:45
175    2024-05-16 11:45
Name: last_updated, dtype: object