<a href="https://colab.research.google.com/github/KoreDare/Python_Bootcamp/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit = "Banana"
Fruit = 'Apple'
fruiT = 'Pineapple'
frUIt = 'Mango'

print(Fruit)
print(fruiT)
print(fruit)
print(frUIt)

Apple
Pineapple
Banana
Mango

In [ ]:
print('Welcome to the session.')

fruit = 'Apple'

if fruit == 'Apple':
  print('Yes it is apple')


print("This is not an indentation.")

Welcome to the session.
Yes it is apple
This is not an indentation.

In [ ]:
# This is an If Condition

fruit = 'Banana'

if Fruit == 'Banana':
  print('Yes, it is banana')

In [ ]:
# This is a single line comment

'''
This is
a multi-line
comment
'''

"""
This is
a multi-line
comment
"""

In [ ]:
num = 100
name = 'Korede'
marks = 99.90
isStudent = True

print(type(num))
print(type(name))
print(type(marks))
print(type(isStudent))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# This is a List
fruits = ['Apple', 'Banana', 'Pineapple', 'Grapes']
print(fruits)
print(type(fruits))

fruits.append('Mango')
fruits.append('Guava')
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Grapes']
<class 'list'>
['Apple', 'Banana', 'Pineapple', 'Grapes', 'Mango', 'Guava']

In [ ]:
# This is a Tuple
fruits = ('Apple', 'Banana', 'Pineapple')
print(fruits)
print(type(fruits))

"""
Note that Tuple cannot be updated like List,
unless you first convert it to List, update,
then convert it back to Tuple. That is why we have attribute error
"""
fruits.append('Mango')
print(fruits)

('Apple', 'Banana', 'Pineapple')
<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a = 40
b = 15

# Arithmetic Operation
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

print('The addition of', a, 'and', b, 'is', a+b)

55
25
600
2.6666666666666665
2
1073741824000000000000000
The addition of 40 and 15 is 55

In [ ]:
a = 40
b = 15

print('The addition of', a, 'and', b, 'is', a+b)
print('The subtraction of', b, 'from', a, 'is', a-b)
print('The multiplication of', a, 'and', b, 'is', a*b)
print('The division of', a, 'and', b, 'is', a/b)

The addition of 40 and 15 is 55
The subtraction of 15 from 40 is 25
The multiplication of 40 and 15 is 600
The division of 40 and 15 is 2.6666666666666665

In [ ]:
# Input Function
name =input('Enter your name: ')

# Output Function
print('My name is', name)

Enter your name: Korede
My name is Korede

Note: Python takes note of the last command. So unless you insert the print command after each line, it will not retain the information of fruit as Banana, because the information of fruit = 'Orange' has overridden the previous information.

In [ ]:
fruit = 'Banana'
fruit = 'Orange'
Fruit = 'Mango'
fRUit = 'Guava'
fruiT = 'Lemon'

print(fruit)
print(fruit)
print(Fruit)
print(fRUit)
print(fruiT)

Orange
Orange
Mango
Guava
Lemon

In [ ]:
a = 'This is our string.'
print(a)

print(a.upper())
print(a.lower())
print(a.title())

This is our string.
THIS IS OUR STRING.
this is our string.
This Is Our String.

In [ ]:
student = '         Korede Oluwadare    '

print(student)
print(student.strip())
print(student.lstrip())
print(student.rstrip())

         Korede Oluwadare
Korede Oluwadare
Korede Oluwadare
         Korede Oluwadare

In [ ]:
data = """Tesla has labor disputes in the United States, Germany and Sweden, including an ongoing strike
in Sweden. Elon Musk, the CEO of Tesla, has expressed his opposition to unions on Twitter (now called X). The
NLRB held that one tweet was an threat, but was overturned by a federal appeals court. All unionization efforts at the Tesla
Fremont Factory and Gigafactory New York in the United States have been unsuccessful. In Germany, Gigafactory Berlin-Brandenburg
and Tesla Automation have elected works councils, but they have not signed collective bargaining agreements with the
German trade union IG Metall (members pictured).
"""

# index always starts from 0
print(data.find('Tesla'))
print(data.find('labor'))
print(data.replace('Tesla', 'Volkswagen'))

0
10
Volkswagen has labor disputes in the United States, Germany and Sweden, including an ongoing strike
in Sweden. Elon Musk, the CEO of Volkswagen, has expressed his opposition to unions on Twitter (now called X). The
NLRB held that one tweet was an threat, but was overturned by a federal appeals court. All unionization efforts at the Volkswagen
Fremont Factory and Gigafactory New York in the United States have been unsuccessful. In Germany, Gigafactory Berlin-Brandenburg
and Volkswagen Automation have elected works councils, but they have not signed collective bargaining agreements with the
German trade union IG Metall (members pictured).

In [ ]:
names = 'Korede, Peter, Sharon'

print(names.split(','))
print('-'.join(names))

['Korede', ' Peter', ' Sharon']
K-o-r-e-d-e-,- -P-e-t-e-r-,- -S-h-a-r-o-n

In [ ]:
names = 'Korede Peter Sharon'

print(names.split(' '))
print('-'.join(names))

['Korede', 'Peter', 'Sharon']
K-o-r-e-d-e- -P-e-t-e-r- -S-h-a-r-o-n

In [ ]:
names = ['Korede','Peter','Sharon']

print('-'.join(names))

Korede-Peter-Sharon

In [ ]:
data = 'This is sample data.'

print(data.startswith('T'))
print(data.startswith('I'))
print(data.endswith('this'))
print(data.endswith('.'))
print(data.isdigit())

True
False
False
True
False

In [ ]:
# Note that lists come in box bracket [], while tuple comes in parenthesis ().
fruits = ['Apple', 'Banana', 'Cherry']
print(fruits)

fruits.append('Mango')    # This will add element in the list ('last')
print(fruits)

fruits.insert(1, 'Orange') # This will add element according to the index number
print(fruits)

fruits.remove('Banana')   # This will remove element in the list
print(fruits)

fruits.pop()            # This will remove the last element in the list
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

['Apple', 'Banana', 'Cherry']
['Apple', 'Banana', 'Cherry', 'Mango']
['Apple', 'Orange', 'Banana', 'Cherry', 'Mango']
['Apple', 'Orange', 'Cherry', 'Mango']
['Apple', 'Orange', 'Cherry']
['Apple', 'Cherry', 'Orange']
['Orange', 'Cherry', 'Apple']

In [ ]:
# Tuple Methods
# Note that tuple is not changeable - you cannot use append, insert or the rest like you use in lists
# Therefore to use those variables, you must first convert tuple to list, then convert back to tuple
# The only variables that you can use are 'count' and 'index'

names = ('Korede', 'Lydia', 'Walter', 'Tope', 'Korede')

print(names)
print(names.count('Lydia'))
print(names.index('Korede'))
print(names.index('Walter'))

# Convert Tuple into a List
list_names = list(names)
list_names.append('Tabitha')

print(list_names)

# Convert a List into Tuple

tuple_names = tuple(list_names)
print(tuple_names)

# Accessing Tuple or List values
print(names[1])
print(names[3])

('Korede', 'Lydia', 'Walter', 'Tope', 'Korede')
1
0
2
['Korede', 'Lydia', 'Walter', 'Tope', 'Korede', 'Tabitha']
('Korede', 'Lydia', 'Walter', 'Tope', 'Korede', 'Tabitha')
Lydia
Tope

In [ ]:
names_1 = ['Korede', 'Lydia', 'Walter', 'Tope', 'Melody']

print(names_1[0:3])
print(names_1[0:2])
print(names_1[4])
print(names_1[-1])
print(names_1[1:4])

['Korede', 'Lydia', 'Walter']
['Korede', 'Lydia']
Melody
Melody
['Lydia', 'Walter', 'Tope']

In [ ]:
# Note that dictionary comes in braces i.e. {curly bracket}
dict_1 = {
    'Name' : 'Korede',
    'Age' : 44,
    'isStudent' : True
}

print(dict_1)
print(dict_1.keys())
print(dict_1.values())
print(dict_1['Name'])
print(dict_1['Age'])
print('My name is',dict_1['Name'], 'I am',dict_1['Age'], 'years old.')
print('My name is',dict_1['Name'], 'Oluwadare.', 'I am',dict_1['Age'], 'years old.')

print(dict_1.get('Name'))
print(dict_1.items())

{'Name': 'Korede', 'Age': 44, 'isStudent': True}
dict_keys(['Name', 'Age', 'isStudent'])
dict_values(['Korede', 44, True])
Korede
44
My name is Korede I am 44 years old.
My name is Korede Oluwadare. I am 44 years old.
Korede
dict_items([('Name', 'Korede'), ('Age', 44), ('isStudent', True)])

In [ ]:
# Update existing value in a dictionary

dict_1['Age'] = '32'
dict_1['isStudent'] = False

print(dict_1)

{'Name': 'Korede', 'Age': '32', 'isStudent': False}

In [ ]:
# Adding new key-value pair

dict_1['grade'] = 'A+'

print(dict_1)

{'Name': 'Korede', 'Age': '32', 'isStudent': False, 'grade': 'A+'}

In [ ]:
# Remove age from dictionary

dict_1.pop('Age')

print(dict_1)

{'Name': 'Korede', 'isStudent': False, 'grade': 'A+'}

In [ ]:
# Clear the dictionary

dict_1.clear()

print(dict_1)

{}

In [ ]:
# Conditional Statement (If statement executes a block of code once the condition is satisfied)

age = 20
if age >= 18:
  print('You can vote.')

signal = 'Red'
if signal == 'Red':
  print('Stop')


signal = 'Green'
if signal == 'Red':
  print('Stop')
else:
  print('You can go')


signal = 'Amber'
if signal == 'Red':
  print('Stop')
elif signal == 'Green':
  print('You can go')
else:
  print('Slow down your vehicle')

You can vote.
Stop
You can go
Slow down your vehicle

In [ ]:
# Loops
"""
To print numbers in a range without manually typing
the individual digits or writing the program line by line.
"""

for r in range(11):
  print(r)

"""
The difference between the code above and the code
below is that the code above will begin from 0 to 10,
while the code below will go from 1 to 10.
"""
for num in range(1, 11):
  print(num)

# Two Types of Loop - For Loop (which is the example above) and While Loop

0
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [ ]:
# While Loop

a = 1

while a <= 10:
  print(a)
  a += 2

1
3
5
7
9

In [ ]:
# Iterating over a list, tuple or string

fruit_list = ['Apple', 'Banana', 'Cherry', 'Dates']
fruit_tuple = ('Mango', 'Avocado', 'Grapes', 'Berry')
fruit_str = 'Apple'

for fruit in fruit_list:
  print(fruit)

for fruit in fruit_tuple:
  print(fruit)

for fruit in fruit_str:
  print(fruit)

Apple
Banana
Cherry
Dates
Mango
Avocado
Grapes
Berry
A
p
p
l
e

In [ ]:
# Print numbers from 1 to 15 using For Loop

for num in range(1, 16):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# Print even numbers 1 to 20 using For Loop

for num in range(1, 21):
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print odd numbers from 1 to 20 using For Loop

for num in range(1, 20):
  if num % 2 == 1:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Print numbers from 1 to 15 using While Loop

a = 1
while a <= 15:
  print(a)
  a += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# Print even numbers from 1 to 20 using While Loop

a = 2
while a <= 20:
  print(a)
  a += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print odd numbers from 1 to 20 using While Loop

a = 1
while a <= 20:
  print(a)
  a += 2

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Functions
"""
Instead of writing the same formular every time,
we use a function to define it once, then call it whenever needed.
"""

def greet():
  print('Hello, welcome to Python')

greet()
greet()

Hello, welcome to Python
Hello, welcome to Python

In [ ]:
# Function with Parameter
def greet_with_name(name):
  print('Hello', name, 'welcome to Python')

greet_with_name('Korede')
greet_with_name('Tanya')

def greet_with_name(name, lastname):
  print('Hello', name, lastname, 'welcome to Python')

greet_with_name('Korede','Oluwadare')
greet_with_name('Tanya', 'Roberts')

Hello Korede welcome to Python
Hello Tanya welcome to Python
Hello Korede Oluwadare welcome to Python
Hello Tanya Roberts welcome to Python

In [ ]:
# Function with Default Parameter
def greet_with_name(name):
  print('Hello', name, 'welcome to Python')

greet_with_name('Korede')
greet_with_name('Tanya')

def greet_with_name(name, lastname = 'No Lastname'):
  print('Hello', name, lastname, 'welcome to Python')

greet_with_name('Korede','Oluwadare')
greet_with_name('Tanya')

Hello Korede welcome to Python
Hello Tanya welcome to Python
Hello Korede Oluwadare welcome to Python
Hello Tanya No Lastname welcome to Python

In [ ]:
def calculate(a, b):
  return a + b

calculate(3, 5)
calculate(30, 50)

80

In [ ]:
# Calculate Square

def square(num):
  return num * num

result = square(5)
print (result)

25

In [ ]:
# Calculate Cube

def cube(num):
  return num * num * num

result = cube(10)
print(result)

1000

In [ ]:
def format_name():
    # Taking user's full name as input
    full_name = input("Enter your full name: ")

    # Remove extra spaces, capitalize first letter of each word and replace space with hyphen
    formatted_name = '-'.join(word.capitalize() for word in full_name.split())

    return formatted_name

# Call the function and display the result
formatted_name = format_name()
print(f"Formatted name: {formatted_name}")

Enter your full name: Korede Oluwadare
Formatted name: Korede-Oluwadare

In [ ]:
def format_name(full_name):
    names = full_name.strip().split()
    formatted_name = '-'.join(word.title() for word in names)
    return formatted_name

full_name = input('Enter your full name: ')
print('Formatted Name:', format_name(full_name))

Enter your full name: korede oluwadare
Formatted Name: Korede-Oluwadare

In [ ]:
def format_name(full_name):
    # Remove extra spaces, capitalize first letter of each word and replace space with hyphen
    formatted_name = '-'.join(word.title() for word in full_name.strip().split())
    return formatted_name

full_name = input('Enter your full name: ')
print('Formatted Name:', format_name(full_name))

Enter your full name:      korede   oluwadare
Formatted Name: Korede-Oluwadare

### **PANDAS**

In [ ]:
import pandas as pd

In [29]:
df = pd.read_csv("GlobalWeatherRepository.csv")
df

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.5200,69.1800,Asia/Kabul,1715849100,16/05/2024 13:15,26.6,79.8,Partly Cloudy,...,8.400,26.600,1,1,4:50 AM,6:50 PM,12:12 PM,1:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.3300,19.8200,Europe/Tirane,1715849100,16/05/2024 10:45,19.0,66.2,Partly cloudy,...,1.100,2.000,1,1,5:21 AM,7:54 PM,12:58 PM,2:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.7600,3.0500,Africa/Algiers,1715849100,16/05/2024 09:45,23.0,73.4,Sunny,...,10.400,18.400,1,1,5:40 AM,7:50 PM,1:15 PM,2:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.5000,1.5200,Europe/Andorra,1715849100,16/05/2024 10:45,6.3,43.3,Light drizzle,...,0.700,0.900,1,1,6:31 AM,9:11 PM,2:12 PM,3:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.8400,13.2300,Africa/Luanda,1715849100,16/05/2024 09:45,26.0,78.8,Partly cloudy,...,183.400,262.300,5,10,6:12 AM,5:55 PM,1:17 PM,12:38 AM,Waxing Gibbous,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55537,Venezuela,Caracas,10.5000,-66.9167,America/Caracas,1740564000,26/02/2025 06:00,25.1,77.2,Clear,...,17.390,23.125,2,2,6:43 AM,6:37 PM,5:36 AM,5:33 PM,Waning Crescent,5
55538,Vietnam,Hanoi,21.0333,105.8500,Asia/Bangkok,1740564000,26/02/2025 17:00,17.2,63.0,Overcast,...,97.865,98.605,4,10,6:19 AM,6:00 PM,5:00 AM,4:17 PM,Waning Crescent,7
55539,Yemen,Sanaa,15.3547,44.2067,Asia/Aden,1740564000,26/02/2025 13:00,23.2,73.8,Sunny,...,27.380,91.020,2,3,6:22 AM,6:10 PM,5:04 AM,4:43 PM,Waning Crescent,6
55540,Zambia,Lusaka,-15.4167,28.2833,Africa/Lusaka,1740564000,26/02/2025 12:00,24.4,75.8,Light rain shower,...,9.435,10.915,1,1,6:07 AM,6:32 PM,4:20 AM,5:33 PM,Waning Crescent,6
55541,Zimbabwe,Harare,-17.8178,31.0447,Africa/Harare,1740564000,26/02/2025 12:00,24.4,75.8,Patchy rain nearby,...,6.290,6.475,1,1,5:54 AM,6:23 PM,4:05 AM,5:25 PM,Waning Crescent,6

In [30]:
df.shape

(55542, 41)

Maximum Temperature

In [34]:
df['temperature_fahrenheit'].max()

120.6

In [70]:
df.temperature_fahrenheit.max()

120.6

In [35]:
df['temperature_celsius'].max()

49.2

Minimum Temperature

In [36]:
df['temperature_fahrenheit'].min()

-12.8

In [37]:
df['temperature_celsius'].min()

-24.9

Total Temperature

In [38]:
df['temperature_fahrenheit'].sum()

4013742.6999999997

In [39]:
df['temperature_celsius'].sum()

1242394.9

Average Temperature

In [40]:
df['temperature_fahrenheit'].mean()

72.26500126030751

In [41]:
df['temperature_celsius'].mean()

22.36856613013575

Total Count

In [42]:
df['temperature_fahrenheit'].count()

55542

In [64]:
df['last_updated'][df['condition_text']=='Overcast'][df['last_updated']=='16/05/2024 11:45']

25    16/05/2024 11:45
37    16/05/2024 11:45
Name: last_updated, dtype: object

In [ ]:
import pandas as pd

In [45]:
weather_data = {'Day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
                'Temperature': [32, 35, 28, 24, 32, 32],
                'Wind': [6, 7, 2, 7, 4, 2],
                'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}
df1 = pd.DataFrame(weather_data)
df1

        Day  Temperature  Wind  Event
0  1/1/2017           32     6   Rain
1  1/2/2017           35     7  Sunny
2  1/3/2017           28     2   Snow
3  1/4/2017           24     7   Snow
4  1/5/2017           32     4   Rain
5  1/6/2017           32     2  Sunny

Knowing the number of rows and columns

In [46]:
df1.shape

(6, 4)

In [49]:
df1.head()  # To view top 5 rows

        Day  Temperature  Wind  Event
0  1/1/2017           32     6   Rain
1  1/2/2017           35     7  Sunny
2  1/3/2017           28     2   Snow
3  1/4/2017           24     7   Snow
4  1/5/2017           32     4   Rain

In [50]:
df1.head(3) # When you ispecify the parameter, it returns the number of rows specified from the top - in this case, the top 3.

        Day  Temperature  Wind  Event
0  1/1/2017           32     6   Rain
1  1/2/2017           35     7  Sunny
2  1/3/2017           28     2   Snow

This generates a summarized descriptive statistic of the numeric columns within your dataset.

In [51]:
df1.describe()

       Temperature      Wind
count     6.000000  6.000000
mean     30.500000  4.666667
std       3.885872  2.338090
min      24.000000  2.000000
25%      29.000000  2.500000
50%      32.000000  5.000000
75%      32.000000  6.750000
max      35.000000  7.000000

In [52]:
df.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,55542.000000,55542.000000,5.554200e+04,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,...,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000,55542.000000
mean,19.138229,22.189742,1.728227e+09,22.368566,72.265001,8.294131,13.352040,169.791437,1014.127993,29.946597,...,19.209881,523.742197,63.389617,14.680489,11.211434,24.871336,49.907577,1.701109,2.643639,49.432015
std,24.477921,65.805690,7.182012e+06,9.613454,17.304006,9.474240,15.245721,103.670971,13.953483,0.412020,...,17.057529,957.984383,36.836693,26.105812,49.967471,45.203453,155.799590,0.983993,2.560514,34.879486
min,-41.300000,-175.200000,1.715849e+09,-24.900000,-12.800000,2.200000,3.600000,1.000000,947.000000,27.960000,...,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.185000,-1848.150000,1.000000,1.000000,0.000000
25%,3.750000,-6.836100,1.722083e+09,17.200000,63.000000,4.000000,6.500000,80.000000,1010.000000,29.830000,...,10.800000,223.600000,38.000000,0.925000,0.740000,5.300000,8.400000,1.000000,1.000000,15.000000
50%,17.250000,23.320000,1.728294e+09,25.100000,77.200000,6.900000,11.200000,161.000000,1013.000000,29.920000,...,16.600000,320.400000,60.000000,3.145000,2.220000,13.000000,19.980000,1.000000,2.000000,49.000000
75%,40.400000,50.580000,1.734432e+09,28.600000,83.500000,11.600000,18.700000,258.000000,1018.000000,30.050000,...,25.700000,495.800000,83.000000,15.725000,8.510000,28.675000,44.400000,2.000000,3.000000,83.000000
max,64.150000,179.220000,1.740564e+09,49.200000,120.600000,1841.200000,2963.200000,360.000000,3006.000000,88.770000,...,2970.400000,38879.398000,480.700000,427.700000,521.330000,1614.100000,6037.290000,6.000000,10.000000,100.000000

In [53]:
df1.tail()  # This generates bottom 5 rows

        Day  Temperature  Wind  Event
1  1/2/2017           35     7  Sunny
2  1/3/2017           28     2   Snow
3  1/4/2017           24     7   Snow
4  1/5/2017           32     4   Rain
5  1/6/2017           32     2  Sunny

In [54]:
df1.tail(2)

        Day  Temperature  Wind  Event
4  1/5/2017           32     4   Rain
5  1/6/2017           32     2  Sunny

To generate column headers

In [56]:
df1.columns

Index(['Day', 'Temperature', 'Wind', 'Event'], dtype='object')

In [57]:
df.columns

Index(['country', 'location_name', 'latitude', 'longitude', 'timezone',
       'last_updated_epoch', 'last_updated', 'temperature_celsius',
       'temperature_fahrenheit', 'condition_text', 'wind_mph', 'wind_kph',
       'wind_degree', 'wind_direction', 'pressure_mb', 'pressure_in',
       'precip_mm', 'precip_in', 'humidity', 'cloud', 'feels_like_celsius',
       'feels_like_fahrenheit', 'visibility_km', 'visibility_miles',
       'uv_index', 'gust_mph', 'gust_kph', 'air_quality_Carbon_Monoxide',
       'air_quality_Ozone', 'air_quality_Nitrogen_dioxide',
       'air_quality_Sulphur_dioxide', 'air_quality_PM2.5', 'air_quality_PM10',
       'air_quality_us-epa-index', 'air_quality_gb-defra-index', 'sunrise',
       'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination'],
      dtype='object')

To print a column

In [58]:
df['sunrise']

0        4:50 AM
1        5:21 AM
2        5:40 AM
3        6:31 AM
4        6:12 AM
          ...
55537    6:43 AM
55538    6:19 AM
55539    6:22 AM
55540    6:07 AM
55541    5:54 AM
Name: sunrise, Length: 55542, dtype: object

In [60]:
df['sunrise'][20]

'6:41 AM'

In [67]:
df1[['Event','Day','Temperature']]

   Event       Day  Temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           32

Filtering some columns

This generates the data where temperature is greater or equal to 32

In [69]:
df1[df1['Temperature']>=32]   # or df1[df1.Temperature>=32]

        Day  Temperature  Wind  Event
0  1/1/2017           32     6   Rain
1  1/2/2017           35     7  Sunny
4  1/5/2017           32     4   Rain
5  1/6/2017           32     2  Sunny

Generates the row for max temperature

In [72]:
df1[df1['Temperature']==df1['Temperature'].max()]   # or df1[df1.Temperature==df1.Temperature.max()]

        Day  Temperature  Wind  Event
1  1/2/2017           35     7  Sunny

Generates only the date (day) for min temperature

In [76]:
df1['Day'][df1['Temperature']==df1['Temperature'].min()]  # or df1['Day'][df1.Temperature==df1.Temperature.min()]

3    1/4/2017
Name: Day, dtype: object

Saving and Importing some columns

In [79]:
df1.to_csv('New_df1.csv', columns=['Day','Temperature','Event'], index=False)