<a href="https://colab.research.google.com/github/KoreDare/Python_Bootcamp/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit = "Banana"
Fruit = 'Apple'
fruiT = 'Pineapple'
frUIt = 'Mango'

print(Fruit)
print(fruiT)
print(fruit)
print(frUIt)

Apple
Pineapple
Banana
Mango

In [ ]:
print('Welcome to the session.')

fruit = 'Apple'

if fruit == 'Apple':
  print('Yes it is apple')


print("This is not an indentation.")

Welcome to the session.
Yes it is apple
This is not an indentation.

In [ ]:
# This is an If Condition

fruit = 'Banana'

if Fruit == 'Banana':
  print('Yes, it is banana')

In [ ]:
# This is a single line comment

'''
This is
a multi-line
comment
'''

"""
This is
a multi-line
comment
"""

In [ ]:
num = 100
name = 'Korede'
marks = 99.90
isStudent = True

print(type(num))
print(type(name))
print(type(marks))
print(type(isStudent))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# This is a List
fruits = ['Apple', 'Banana', 'Pineapple', 'Grapes']
print(fruits)
print(type(fruits))

fruits.append('Mango')
fruits.append('Guava')
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Grapes']
<class 'list'>
['Apple', 'Banana', 'Pineapple', 'Grapes', 'Mango', 'Guava']

In [ ]:
# This is a Tuple
fruits = ('Apple', 'Banana', 'Pineapple')
print(fruits)
print(type(fruits))

"""
Note that Tuple cannot be updated like List,
unless you first convert it to List, update,
then convert it back to Tuple. That is why we have attribute error
"""
fruits.append('Mango')
print(fruits)

('Apple', 'Banana', 'Pineapple')
<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a = 40
b = 15

# Arithmetic Operation
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

print('The addition of', a, 'and', b, 'is', a+b)

55
25
600
2.6666666666666665
2
1073741824000000000000000
The addition of 40 and 15 is 55

In [ ]:
a = 40
b = 15

print('The addition of', a, 'and', b, 'is', a+b)
print('The subtraction of', b, 'from', a, 'is', a-b)
print('The multiplication of', a, 'and', b, 'is', a*b)
print('The division of', a, 'and', b, 'is', a/b)

The addition of 40 and 15 is 55
The subtraction of 15 from 40 is 25
The multiplication of 40 and 15 is 600
The division of 40 and 15 is 2.6666666666666665

In [ ]:
# Input Function
name =input('Enter your name: ')

# Output Function
print('My name is', name)

Enter your name: Korede
My name is Korede

Note: Python takes note of the last command. So unless you insert the print command after each line, it will not retain the information of fruit as Banana, because the information of fruit = 'Orange' has overridden the previous information.

In [ ]:
fruit = 'Banana'
fruit = 'Orange'
Fruit = 'Mango'
fRUit = 'Guava'
fruiT = 'Lemon'

print(fruit)
print(fruit)
print(Fruit)
print(fRUit)
print(fruiT)

Orange
Orange
Mango
Guava
Lemon

In [ ]:
a = 'This is our string.'
print(a)

print(a.upper())
print(a.lower())
print(a.title())

This is our string.
THIS IS OUR STRING.
this is our string.
This Is Our String.

In [ ]:
student = '         Korede Oluwadare    '

print(student)
print(student.strip())
print(student.lstrip())
print(student.rstrip())

         Korede Oluwadare
Korede Oluwadare
Korede Oluwadare
         Korede Oluwadare

In [ ]:
data = """Tesla has labor disputes in the United States, Germany and Sweden, including an ongoing strike
in Sweden. Elon Musk, the CEO of Tesla, has expressed his opposition to unions on Twitter (now called X). The
NLRB held that one tweet was an threat, but was overturned by a federal appeals court. All unionization efforts at the Tesla
Fremont Factory and Gigafactory New York in the United States have been unsuccessful. In Germany, Gigafactory Berlin-Brandenburg
and Tesla Automation have elected works councils, but they have not signed collective bargaining agreements with the
German trade union IG Metall (members pictured).
"""

# index always starts from 0
print(data.find('Tesla'))
print(data.find('labor'))
print(data.replace('Tesla', 'Volkswagen'))

0
10
Volkswagen has labor disputes in the United States, Germany and Sweden, including an ongoing strike
in Sweden. Elon Musk, the CEO of Volkswagen, has expressed his opposition to unions on Twitter (now called X). The
NLRB held that one tweet was an threat, but was overturned by a federal appeals court. All unionization efforts at the Volkswagen
Fremont Factory and Gigafactory New York in the United States have been unsuccessful. In Germany, Gigafactory Berlin-Brandenburg
and Volkswagen Automation have elected works councils, but they have not signed collective bargaining agreements with the
German trade union IG Metall (members pictured).

In [ ]:
names = 'Korede, Peter, Sharon'

print(names.split(','))
print('-'.join(names))

['Korede', ' Peter', ' Sharon']
K-o-r-e-d-e-,- -P-e-t-e-r-,- -S-h-a-r-o-n

In [ ]:
names = 'Korede Peter Sharon'

print(names.split(' '))
print('-'.join(names))

['Korede', 'Peter', 'Sharon']
K-o-r-e-d-e- -P-e-t-e-r- -S-h-a-r-o-n

In [ ]:
names = ['Korede','Peter','Sharon']

print('-'.join(names))

Korede-Peter-Sharon

In [ ]:
data = 'This is sample data.'

print(data.startswith('T'))
print(data.startswith('I'))
print(data.endswith('this'))
print(data.endswith('.'))
print(data.isdigit())

True
False
False
True
False

In [8]:
fruits = ['Apple', 'Banana', 'Cherry']
print(fruits)

fruits.append('Mango')    # This will add element in the list ('last')
print(fruits)

fruits.insert(1, 'Orange') # This will add element according to the index number
print(fruits)

fruits.remove('Banana')   # This will remove element in the list
print(fruits)

fruits.pop()            # This will remove the last element in the list
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

['Apple', 'Banana', 'Cherry']
['Apple', 'Banana', 'Cherry', 'Mango']
['Apple', 'Orange', 'Banana', 'Cherry', 'Mango']
['Apple', 'Orange', 'Cherry', 'Mango']
['Apple', 'Orange', 'Cherry']
['Apple', 'Cherry', 'Orange']
['Orange', 'Cherry', 'Apple']

In [16]:
# Tuple Methods
# Note that tuple is not changeable - you cannot use append, insert or the rest like you use in lists
# Therefore to use those variables, you must first convert tuple to list, then convert back to tuple
# The only variables that you can use are 'count' and 'index'

names = ('Korede', 'Lydia', 'Walter', 'Tope', 'Korede')

print(names)
print(names.count('Lydia'))
print(names.index('Korede'))
print(names.index('Walter'))

# Convert Tuple into a List
list_names = list(names)
list_names.append('Tabitha')

print(list_names)

# Convert a List into Tuple

tuple_names = tuple(list_names)
print(tuple_names)

# Accessing Tuple or List values
print(names[1])
print(names[3])

('Korede', 'Lydia', 'Walter', 'Tope', 'Korede')
1
0
2
['Korede', 'Lydia', 'Walter', 'Tope', 'Korede', 'Tabitha']
('Korede', 'Lydia', 'Walter', 'Tope', 'Korede', 'Tabitha')
Lydia
Tope

In [21]:
names_1 = ['Korede', 'Lydia', 'Walter', 'Tope', 'Melody']

print(names_1[0:3])
print(names_1[0:2])
print(names_1[4])
print(names_1[-1])
print(names_1[1:4])

['Korede', 'Lydia', 'Walter']
['Korede', 'Lydia']
Melody
Melody
['Lydia', 'Walter', 'Tope']

In [31]:
dict_1 = {
    'Name' : 'Korede',
    'Age' : 44,
    'isStudent' : True
}

print(dict_1)
print(dict_1.keys())
print(dict_1.values())
print(dict_1['Name'])
print('My name is',dict_1['Name'], 'I am',dict_1['Age'], 'years old.')

{'Name': 'Korede', 'Age': 44, 'isStudent': True}
dict_keys(['Name', 'Age', 'isStudent'])
dict_values(['Korede', 44, True])
Korede
My name is Korede I am 44 years old.