<a href="https://colab.research.google.com/github/KoreDare/Python_Bootcamp/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
fruit = "Banana"
Fruit = 'Apple'
fruiT = 'Pineapple'
frUIt = 'Mango'

print(Fruit)
print(fruiT)
print(fruit)
print(frUIt)

Apple
Pineapple
Banana
Mango

In [4]:
print('Welcome to the session.')

fruit = 'Apple'

if fruit == 'Apple':
  print('Yes it is apple')


print("This is not an indentation.")

Welcome to the session.
Yes it is apple
This is not an indentation.

In [11]:
# This is an If Condition

fruit = 'Banana'

if Fruit == 'Banana':
  print('Yes, it is banana')

In [ ]:
# This is a single line comment

'''
This is
a multi-line
comment
'''

"""
This is
a multi-line
comment
"""

In [12]:
num = 100
name = 'Korede'
marks = 99.90
isStudent = True

print(type(num))
print(type(name))
print(type(marks))
print(type(isStudent))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [13]:
# This is a List
fruits = ['Apple', 'Banana', 'Pineapple', 'Grapes']
print(fruits)
print(type(fruits))

fruits.append('Mango')
fruits.append('Guava')
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Grapes']
<class 'list'>
['Apple', 'Banana', 'Pineapple', 'Grapes', 'Mango', 'Guava']

In [14]:
# This is a Tuple
fruits = ('Apple', 'Banana', 'Pineapple')
print(fruits)
print(type(fruits))

"""
Note that Tuple cannot be updated like List,
unless you first convert it to List, update,
then convert it back to Tuple. That is why we have attribute error
"""
fruits.append('Mango')
print(fruits)

('Apple', 'Banana', 'Pineapple')
<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
a = 40
b = 15

# Arithmetic Operation
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

print('The addition of', a, 'and', b, 'is', a+b)

55
25
600
2.6666666666666665
2
1073741824000000000000000
The addition of 40 and 15 is 55

In [17]:
a = 40
b = 15

print('The addition of', a, 'and', b, 'is', a+b)
print('The subtraction of', b, 'from', a, 'is', a-b)
print('The multiplication of', a, 'and', b, 'is', a*b)
print('The division of', a, 'and', b, 'is', a/b)

The addition of 40 and 15 is 55
The subtraction of 15 from 40 is 25
The multiplication of 40 and 15 is 600
The division of 40 and 15 is 2.6666666666666665

In [18]:
# Input Function
name =input('Enter your name: ')

# Output Function
print('My name is', name)

Enter your name: Korede
My name is Korede